<!DOCTYPE html>
<html>
  <head>
    <title>Noctiflow Showcase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'nf.ico', type: 'image/png' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
      $(function() {
        $('#fontSelect').fontSelector({
          'hide_fallbacks' : true,
          'initial' : 'Courier New,Courier New,Courier,monospace',
          'selected' : function(style) { $('.tacomio').css('font-family', style) },
          'fonts' : [
            'Arial,Arial,Helvetica,sans-serif',
            'Arial Black,Arial Black,Gadget,sans-serif',
            'Comic Sans MS,Comic Sans MS,cursive',
            'Courier New,Courier New,Courier,monospace',
            'Georgia,Georgia,serif',
            'Helvetica,Helvetica,serif',
            'Impact,Charcoal,sans-serif',
            'Lucida Console,Monaco,monospace',
            'Lucida Sans Unicode,Lucida Grande,sans-serif',
            'Palatino Linotype,Book Antiqua,Palatino,serif',
            'Tahoma,Geneva,sans-serif',
            'Times New Roman,Times,serif',
            'Trebuchet MS,Helvetica,sans-serif',
            'Verdana,Geneva,sans-serif',
            'Gill Sans,Geneva,sans-serif',
            'ABeeZee,ABeeZee,sans-serif',
            'Abel,Abel,sans-serif',
            'Abhaya+Libre,Abhaya+Libre,sans-serif',
            'Abril+Fatface,Abril+Fatface,sans-serif',
            'Aclonica,Aclonica,sans-serif'
            ]
        });
      });


      </script>

      <% if user_signed_in? %>
      <div class="fixed-action-btn horizontal click-to-toggle">
         <a class="btn-floating btn-large black waves-effect waves-light">
           <i class="material-icons">menu</i>
         </a>
         <ul>
           <li><a title="Home" href="/" class="btn-floating black"><i class="material-icons">home</i></a></li>
           <li><a title="Font" href="/font" class="btn-floating blue"><i class="material-icons">font_download</i></a></li>
           <li><a title="Image" href="/image" class="btn-floating yellow darken-1"><i class="material-icons">photo</i></a></li>
           <li><a title="Icon" href="/icon" class="btn-floating green"><i class="material-icons">insert_emoticon</i></a></li>
           <li><a title="Button" href="/button" class="btn-floating red"><i class="material-icons">whatshot</i></a></li>
         </ul>
       </div>
       <% end %>

       <nav class="navbar-inverse pull-right">
         <div class="container-fluid">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <!-- <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | -->
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link pull-right'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
        </div>
      </nav>
      <br>
  </head>

  <body>

    <% if notice %>
      <br>
      <div class="alert alert-info alert-dismissible" id="warn-alert"><%= notice %>
        <button type="button" class="close" data-dismiss="alert">x</button>
      </div>
      <% end %>
      <% if alert %>
      <br>
      <div class="alert alert-warning alert-dismissible" id="warn-alert"><%= alert %>
        <button type="button" class="close" data-dismiss="alert">x</button>
      </div>
    <% end %>
    <br>
    <div class="container-fluid">

    <%= yield %>

  </div>
  </body>
</html>
